@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #F9B500;
  background: #333;
  overflow: hidden;
}

.landing-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 100px;
}

.landing-inner img{
	max-height: 350px;
	padding-top: 50px;
}

.landing {
  position: relative;
  background-image: url('../images/room.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing h1 {
  font-size: 50px;
}

.landing p {
  font-size: 20px;
}

.countdown {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.countdown div {
  padding: 20px;
  border: 1px #fff solid;
  border-radius: 10px;
  background: #001973;
  opacity: 0.7;
  margin: 5px;
}

.countdown div:first-child {
  background: #F9B500;
  color: #001973;
}

.countdown span {
  display: block;
  font-size: 25px;
}

.countdown button {
  font-size: 18pt;
  color: #F9B500;
  background-color: #001973;
  padding: 10px;
  font-weight: bolder;
  width: 300px;
}

.countdown button:hover {
  background-color: #fff;
  color: #001973;
}

.countdown button:active {
  background-color: #F9B500;
  color: #001973;
}

.att {
	font-size: 30px;
	padding: 0px;
}

@media (max-width: 650px) {
  .landing img {
    width: 70%;
  }

  .landing h1 {
    font-size: 40px;
  }

  .countdown {
    font-size: 30px;
    flex-direction: column;
  }

  .countdown div {
    display: none;
  }

  .countdown div:first-child {
    display: block;
    width: 80%;
    padding: 10px;
  }
}


@media (max-height: 600px) {
  img {
    width: 20%;
  }
}

@media (max-height: 400px) {
   img {
    padding-bottom: 30px;
  }
  
  h1 {
    display: none;
  }
}
